@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    box-sizing: border-box;
    font-family: "Assistant",sans-serif; 
}

.fade-in-navigation-menu{
    animation: fade-in;
    animation-duration: 200ms;
    animation-delay: 100ms;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}

.ripple{
    position:relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.ripple:after{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle,#f10a4b 10%,transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .2s,opacity .5s;
}

.ripple:active:after{
    transform:scale(0,0);
    opacity: .5;
    transition: 0s;
}

.hide-scroll::-webkit-scrollbar{
    display: none;
}
    
@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}